In [77]:
import pandas as pd
from scipy.stats import pearsonr

df = pd.read_csv("data.csv", sep=";")

df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [78]:
# show values of the target column
print("Target values:", df['Target'].unique())

# check datatypes
print("\nData types:")
print(df.dtypes)

# check for missing values in each column
print("\nMissing values:")
print(df.isna().sum())

Target values: ['Dropout' 'Graduate' 'Enrolled']

Data types:
Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance\t                        int64
Previous qualification                              int64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Admission grade                                   float64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

Missing values:
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [79]:
def encode_target(x):
    if x == "Graduate":
        return 1
    elif x == "Dropout":
        return 0
    else:
        return x

# removing enrolled because we don't know which students will drop out or graduate. 
# I feel like it will obfuscate any correlations
df = df[df['Target'].isin(['Dropout', 'Graduate'])]

# encoding the target column
df["Target"] = df["Target"].apply(encode_target)

print("Target values:", df['Target'].unique())

correlations = []

for column in df.columns:
    if column != "Target":
                # Check if p-value is below threshold (e.g., 0.05)
        corr, p_value = pearsonr(df['Target'], df[column])
        if (p_value < 0.05):
            correlations.append((column, corr, p_value))

correlations.sort(key=lambda x: x[1], reverse=True)

print("Number of statistically significant correlations:", len(correlations))
for corr in correlations:
    print(corr[0] + ": correlation ->", str(round(corr[1], 2)) + ", p-value ->", round(corr[2], 4))

Target values: [0 1]
Number of statistically significant correlations: 28
Curricular units 2nd sem (approved): correlation -> 0.65, p-value -> 0.0
Curricular units 2nd sem (grade): correlation -> 0.61, p-value -> 0.0
Curricular units 1st sem (approved): correlation -> 0.55, p-value -> 0.0
Curricular units 1st sem (grade): correlation -> 0.52, p-value -> 0.0
Tuition fees up to date: correlation -> 0.44, p-value -> 0.0
Scholarship holder: correlation -> 0.31, p-value -> 0.0
Curricular units 2nd sem (enrolled): correlation -> 0.18, p-value -> 0.0
Curricular units 1st sem (enrolled): correlation -> 0.16, p-value -> 0.0
Admission grade: correlation -> 0.13, p-value -> 0.0
Displaced: correlation -> 0.13, p-value -> 0.0
Curricular units 2nd sem (evaluations): correlation -> 0.12, p-value -> 0.0
Previous qualification (grade): correlation -> 0.11, p-value -> 0.0
Application order: correlation -> 0.09, p-value -> 0.0
Daytime/evening attendance	: correlation -> 0.08, p-value -> 0.0
Curricular units 1st sem (evaluations): correlation -> 0.06, p-value -> 0.0003
Curricular units 2nd sem (credited): correlation -> 0.05, p-value -> 0.0016
GDP: correlation -> 0.05, p-value -> 0.0025
Curricular units 1st sem (credited): correlation -> 0.05, p-value -> 0.0047
Course: correlation -> 0.04, p-value -> 0.0216
Mother's qualification: correlation -> -0.05, p-value -> 0.0011
Previous qualification: correlation -> -0.06, p-value -> 0.0002
Curricular units 1st sem (without evaluations): correlation -> -0.07, p-value -> 0.0
Marital status: correlation -> -0.1, p-value -> 0.0
Curricular units 2nd sem (without evaluations): correlation -> -0.1, p-value -> 0.0
Application mode: correlation -> -0.24, p-value -> 0.0
Gender: correlation -> -0.25, p-value -> 0.0
Debtor: correlation -> -0.27, p-value -> 0.0
Age at enrollment: correlation -> -0.27, p-value -> 0.0

In [ ]:
modelLinear = LinearRegression()
modelLinear.fit(x_train, y_train)
x_test_prediction_linear = modelLinear.predict(x_test)
r2_score = modelLinear.score(x_test, y_test)
r2_score